header {
  background:#FFA07A;
  text-align: center;
  color: #000080;
}

h1 {
  background: #FA8072;
  text-align: center;
  font-size: 160%;
  font-variant: small-caps;
  color: #000080
}

h2{
  color: #1B4C04;
  background: #C0C0C0;
  font-variant: small-caps;
  color: #000080;
}

section {
  background: #FADBD8;
}

a {
    color: #1B4C04;
    background: #FADBD8;
}

img {
  display: none;
}
